.overview-root {
    position: relative;
    margin: 5% 4% 1% 4%;
    padding: 2em;
  }

.overview-img{
    width: 100%;
}

.overview-h1{
    font-family: Inter;
    font-size: 48px;
    letter-spacing: 2px;
    color: rgb(46, 45, 45);
}

.overview-p{
    font-family: Inter;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: justify;
    color: rgb(136, 135, 135);
}

.overview-yeva{
    color:#409046;
   
}

.overview-cure{
    color: #262d7d;
}