.values-root{
    position: relative;
    padding: 2em;
    margin: 0% 4% 0% 4%;
    text-align: center;
}

.values-h1{
        font-family: Inter;
        font-size: 36px;
        text-align: center;
        letter-spacing: 2px;
        color: #3e8927
}

.values.img{
    text-align: center  ;
    width: 80vw;
}


.values-h4{
    font-family: Inter;
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(46, 45, 45);
}

.values-content{
    text-align: center;
    border-radius: 2em;
    padding: 10px;
    border-top: 8px solid #262d7d;
}

.values-p{
    text-align: left;
    margin: 2em auto 2em auto;
    max-width: 80%;
    min-height: 190px;
    font-weight: 300;
    font-family: Inter;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(136, 135, 135);
}