.visionmission-root{
    position: relative;
    padding: 2em;
    margin: 0% 4% 8% 4%;
}

.visionmission-h4{
    font-family: Inter;
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(46, 45, 45);
}

.visionmission-content{
    text-align: center;
    border-radius: 2em;
    padding: 10px;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -30em, rgb(75 235 75 / 61%) 0px 30px 60px -30px, rgb(36 148 45 / 64%) 0px -2px 1px 0px inset;
}

.visionmission-img{
    width: 100%;
    margin-top: -6em;
}

.visionmission-p{
    text-align: justify;
    margin: 2em auto 2em auto;
    max-width: 80%;
    font-weight: 300;
    font-family: Inter;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(136, 135, 135);
}