.visionmission-root{
    position: relative;
    padding: 2em;
    margin: 0% 4% 8% 4%;
}

.visionmission-h4{
    font-family: Inter;
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(46, 45, 45);
}

.visionmission-content{
    text-align: center;
    border-radius: 2em;
    padding: 10px;
    border-top: 8px solid #262d7d
}

.visionmission-img{
    width: 100%;
    margin-top: -6em;
}

.visionmission-p{
    text-align: justify;
    margin: 2em auto 2em auto;
    max-width: 80%;
    font-weight: 300;
    font-family: Inter;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(136, 135, 135);
}